<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>Random Cats!</title>

    <link href="/assets/style.css" rel="stylesheet">

  </head>

  <body>
    <a href="https://github.com/ryan-endacott"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub"></a>
    <div id="header">
      <h1>Random Cats</h1>
    </div>
    <div id="catdiv">
      <ul class="polaroids">
        {% for url in cat_urls %}
          <li>
            <a href="{{url}}">
              <img class="catimg" src="{{url}}">
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>

    <div id="footer" class="clear">
      <p>
        Made by Ryan Endacott.
      </p>
    </div>
  </body>
</html>
